<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2>Se han presentado los siguientes errores:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Titulo del Plan de Negocio" %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label "Categoría" %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => true %>
  </div>

  <div class="field">
    <%= f.label "Visión" %><br />
    <%= f.text_area :vision %>
  </div>
  <div class="field">
    <%= f.label "Razonamiento" %><br />
    <%= f.text_area :reasoning %>
  </div>
  <div class="field">
    <%= f.label "Tiempo de Ejecución en Meses" %><br />
    <%= f.number_field :time_month %>
  </div>
  <div class="field">
    <%= f.label "Inversión Total" %><br />
    <%= f.number_field :total_investment %>
  </div>
  <div class="field">
    <%= f.label "Margen Neto" %><br />
    <%= f.number_field :net_margin %>
  </div>
  <div class="field">
    <%= f.label "R.O.I." %><br />
    <%= f.number_field :roi %>
  </div>
  <div class="field">
    <%= f.label "Ruta de descarga de archivo del Plan de Negocio" %><br />
    <%= f.text_field :path_file_plan %>
  </div>
  <div class="field">
    <%= f.label "Precio de Venta" %><br />
    <%= f.number_field :price_file %>
  </div>
  <div class="field">
    <%= f.label "Es Viable" %><br />
    <%= f.text_field :viable %>
  </div>
  <div class="field">
    <%= f.label "Sabio" %><br />
    <%= f.collection_select :sabio_id, Sabio.all, :id, :nombres, :prompt => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
