<h1>Lista de Planes de Negocios</h1>

<table>
  <tr>
    <th>Sabio</th>
    <th>Título</th>
    <th>Categoría</th>
    <th>Tiempo de Ejecución en Meses</th>
    <th>Inversión Total</th>
    <th>Margen Neto</th>
    <th>Precio de Venta</th>
    <th>Es Viable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plans.each do |plan| %>
  <tr>
    <td><%= plan.sabio.name %></td>
    <td><%= plan.title %></td>
    <td><%= plan.category.name %></td>
    <td><%= plan.time_month %></td>
    <td><%= plan.total_investment %></td>
    <td><%= plan.net_margin %></td>
    <td><%= plan.price_file %></td>
    <td><%= plan.viable %></td>
    <td><%= link_to 'Show', plan %></td>
    <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
    <td><%= link_to 'Destroy', plan, confirm: '¿Estás seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Plan de Negocio', new_plan_path %>
