<h1>Listado de Emprendedores</h1>

<table>
  <tr>
    <th>Nombres</th>
    <th>Paterno</th>
    <th>Materno</th>
    <th>Sexo</th>
    <th>Tipo docum identidad</th>
    <th>Celular</th>
    <th>Direccion</th>
    <th>Fecha nacimiento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emprendedors.each do |emprendedor| %>
  <tr>
    <td><%= emprendedor.nombres %></td>
    <td><%= emprendedor.paterno %></td>
    <td><%= emprendedor.materno %></td>
    <td><%= emprendedor.sexo %></td>
    <td><%= emprendedor.tipo_docum_identidad %></td>
    <td><%= emprendedor.celular %></td>
    <td><%= emprendedor.direccion %></td>
    <td><%= emprendedor.fecha_nacimiento %></td>
    <td><%= link_to 'Show', emprendedor %></td>
    <td><%= link_to 'Edit', edit_emprendedor_path(emprendedor) %></td>
    <td><%= link_to 'Destroy', emprendedor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emprendedor', new_emprendedor_path %>
