<h1>Listado de Sabios</h1>

<table>
  <tr>
    <th>Nombres</th>
    <th>Paterno</th>
    <th>Materno</th>
    <th>Tipo docum identidad</th>
    <th>Celular</th>
    <th>Direccion</th>
    <th>Fecha nacimiento</th>
    <th>Apelativo</th>
    <th>Resumen biografico</th>
    <th>Sitio web</th>
    <th>Banco cta bancaria</th>
    <th>Numero cta bancaria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sabios.each do |sabio| %>
  <tr>
    <td><%= sabio.nombres %></td>
    <td><%= sabio.paterno %></td>
    <td><%= sabio.materno %></td>
    <td><%= sabio.tipo_docum_identidad %></td>
    <td><%= sabio.celular %></td>
    <td><%= sabio.direccion %></td>
    <td><%= sabio.fecha_nacimiento %></td>
    <td><%= sabio.apelativo %></td>
    <td><%= sabio.resumen_biografico %></td>
    <td><%= sabio.sitio_web %></td>
    <td><%= sabio.banco_cta_bancaria %></td>
    <td><%= sabio.numero_cta_bancaria %></td>
    <td><%= link_to 'Show', sabio %></td>
    <td><%= link_to 'Edit', edit_sabio_path(sabio) %></td>
    <td><%= link_to 'Destroy', sabio, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sabio', new_sabio_path %>
