<h1>Listing sabios</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sabios.each do |sabio| %>
  <tr>
    <td><%= sabio.name %></td>
    <td><%= link_to 'Show', sabio %></td>
    <td><%= link_to 'Edit', edit_sabio_path(sabio) %></td>
    <td><%= link_to 'Destroy', sabio, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sabio', new_sabio_path %>
