<h3 id="notice"><%= notice %></h3>

<p>
  <b>Nombres:</b>
  <%= @sabio.nombres %>
</p>

<p>
  <b>Paterno:</b>
  <%= @sabio.paterno %>
</p>

<p>
  <b>Materno:</b>
  <%= @sabio.materno %>
</p>

<p>
  <b>Tipo docum identidad:</b>
  <%= @sabio.tipo_docum_identidad %>
</p>

<p>
  <b>Celular:</b>
  <%= @sabio.celular %>
</p>

<p>
  <b>Direccion:</b>
  <%= @sabio.direccion %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%= @sabio.fecha_nacimiento %>
</p>

<p>
  <b>Apelativo:</b>
  <%= @sabio.apelativo %>
</p>

<p>
  <b>Resumen biografico:</b>
  <%= @sabio.resumen_biografico %>
</p>

<p>
  <b>Sitio web:</b>
  <%= @sabio.sitio_web %>
</p>

<p>
  <b>Banco cta bancaria:</b>
  <%= @sabio.banco_cta_bancaria %>
</p>

<p>
  <b>Numero cta bancaria:</b>
  <%= @sabio.numero_cta_bancaria %>
</p>


<%= link_to 'Edit', edit_sabio_path(@sabio) %> |
<%= link_to 'Back', sabios_path %>
